@(user: models.users.User)
@main("About Us", user) {
	<h4>About us</h4>
	<h5>Conor Mc Donnell:</h5>
<p></p> I am a student in T.U dublin (Tallaght) currently studying Computer science. I am twenty years old i am in second year</p> 
<h5>Colm Dunne:</h5>
<p> I am a student in T.U dublin (Tallaght) currently studying Computer science. I am twenty years old i am in second year</p> 
<h5>Andrei Iancu:</h5>
<p> I am a student in T.U dublin (Tallaght) currently studying Computer science. I am twenty years old i am in second year</p> 



}