@(user: models.users.User)
@main("About Us", user) {

	
	<h4 align="center">About us</h4>
<h5 style="color:Tomato;">Conor Mc Donnell:</h5>
<p> I am a student in T.U dublin (Tallaght) currently studying Computer science. I am twenty years old i am in second year</p> 
<h5 style="color:Tomato;">Colm Dunne:</h5>
<p> I am a student in T.U dublin (Tallaght) currently studying Computer science. I am twenty years old i am in second year</p> 
<h5 style="color:Tomato;">Andrei Iancu:</h5>
<p> I am a student in T.U dublin (Tallaght) currently studying Computer science. I am twenty years old i am in second year</p> 

<h2 align="center">F.A.Q</h2>
<div class="col-sm-6">
	<div class="well ">
<h5>1.How long does delivery take ? </h5>
<p>-On average it takes 3-5 working days.</p>
	</div>
</div>

<div class="col-sm-6">
	<div class="well ">
<h5>2.I'm an international customer. Does the price include customs fees/import taxes? </h5>
<p>-The fee covers the import tax but additional fees apply for certain countries</p>
</div>
</div>

<div class="col-sm-6">
	<div class="well ">
<h5>3.Are you on any social media ?</h5>
<p>-Yes we have a Facebook and we are currently working on other platforms.</p>
</div>
</div>

<div class="col-sm-6">
	<div class="well ">

<h5>4.how often do we update our website </h5>
<p>-We try our best to update it every 2-3 days and when we have new products we do it straight away.</p>
</div>
</div>

<div class="col-sm-6">
	<div class="well ">
<h5>5.I would like to return an order what do I do ? </h5>
<p>-Send an email to xxxxxxxxxxx for further issue on this matter.</p>
</div>
</div>

<div class="col-sm-6">
	<div class="well ">
<h5>6.what payment method can I use ? </h5>
<p>-You can use any of the cards listed below to pay for your order. You can also use PayPal to shop with us. 

	Visa, Visa Electron, Mastercard, Maestro, One4All and PayPal. 
	
	We take security very seriously so you can rest assure when you enter any of your details they'll be safe with us.</p>
</div>
</div>
}