@(user: models.users.User)
@main("Home", user){

		<div class="col-sm-4">
		<div class="midcol">
				<img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Messi_vs_Nigeria_2018.jpg" alt="Lamp" width="250" height="500">
	
	
	</div>
	</div>
	>

</div>

		<div style="text-align:center;"class="col-sm-6" >
	<h1 >Welcome to C.C.A SportsWare!</h1>
	<h3>The place where you can buy the top sports clothing brands</h3>




</div>
</div>

</div>

		<div class="col-sm-4">
		<div class="midcol">
				<img src="https://cdn4.img.sputniknews.com/images/107064/58/1070645880.jpg" alt="Lamp" width="250" height="500">
	
	
	
	</div>
</div>

}

