@(user: models.users.User)
@main("Home", user){
	<div class="col-sm-3">
		</div>
		<div class="col-sm-4">
		<div class="midcol">
				<img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Messi_vs_Nigeria_2018.jpg" alt="messi" width="250" height="500">
	
	
	</div>
	</div>
	

</div>

		<div style="text-align:center;"class="col-sm-4" >
	<h1 >Welcome to C.C.A SportsWare!</h1>
	<h3>The place where you can buy the top sports clothing brands</h3>




</div>
</div>

</div>

		<div class="col-sm-4">
		<div class="midcol">
				<img src="https://specials-images.forbesimg.com/imageserve/5b156944a7ea436b547f54ff/416x416.jpg?background=000000&cropX1=557&cropX2=2378&cropY1=99&cropY2=1922" alt="Rory Mciroy" width="250" height="500">
	
	
	
	</div>
</div>

}

