@(pagename: String, user: models.users.User)(content: Html)
<!DOCTYPE html>
<html>
    <head>
			<style>
				table, td {
					border: 1px solid #333;
					border-collapse: collapse;
					background-color: #333;
					color: white;
					text-align:center;
				}
				</style>	
			
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
	<div class="container-fluid" ></div>
	<title>OFM @pagename</title>
    </head>
    <body >

		<style>
			body {
			  margin: 0;
			  font-family: Arial, Helvetica, sans-serif;
			}
			
			.topnav {
			  overflow: hidden;
			  background-color: #333;
			}
			
			.topnav a {
			  float: left;
			  color: #f2f2f2;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 17px;
			}
			
			.topnav a:hover {
			  background-color: #ddd;
			  color: black;
			}
			
			.topnav a.active {
			  background-color: chartreuse;
			  color: #333;
			}
			</style>
			</head>
			<body>
			
			<div class="topnav">
			  <a class="active" href="@routes.HomeController.index()">C.C.A SportsWare</a>
			  <a href="@routes.HomeController.index()">Home</a>
			  <a href="@routes.HomeController.onsale()">On Sale</a>
			  <a href="@routes.HomeController.about()">About us / F.A.Q</a>
			  @if(user != null) {
				<a href="@routes.LoginController.logout()">Log Out</a>
			} else {
				<a href="@routes.LoginController.login()">Log In</a>
			}	
			<a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a>
			<a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a>
			<a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a>
			<a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a>
			<a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a><a><div></div></a>
			<a><div></div></a><a><div></div></a>
			
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button style="background-color: chartreuse" style="color:white;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				  </form>
				</div>
			  
			</div>
		
		</div>

		</div>
		<div class="container-fluid"style="background-color:white"style>
		<div class="col-sm-4"style="background-color: chartreuse" style="text-align:center;"><b style="color:#333">Free deliverys over &euro;60 !</b></div>
		<div class="col-sm-4"style="background-color:white" style="text-align:center"><b >Half Price sale soon stay tuned! </b></div>
		<div class="col-sm-4"style="background-color:orange" style="text-align:center"><b style="color:#333">Cheapest prices guaranteed! </b></div>
	</div>






	</nav>
	
	

	
	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-12">
		    <div class="">
					<table style="width:100%">
						<tr>
							<td style = "color:chartreuse"><b>Day</b></td>
							<td style = "color: chartreuse"><b>Opening Hours</b></td>
							<td style = "color: chartreuse"><b>Contacts</b></td> 
						</tr>
						<tr>
							<td>Monday</td>
							<td>9:00-17:00</td>
							<td>Colm - 014567891</td>
						</tr>
						<tr>
							<td>Tuesday</td>
							<td>9:00-17:00</td>
						  <td>Conor - 012345678</td>
						</tr>
						<tr>
							<td>Wednesday</td>
							<td>9:00-17:00</td>
							<td>Andrei - 019876543</td>
						</tr>
						<tr>
							<td>Thursday</td>
							<td>9:00-17:00</td>
						  <td>Colm@@gmail.com</td>
						</tr>
						<tr>
							<td>Friday</td>
							<td>9:00-17:00</td>
						  <td>Conor@@gmail.com</td>
						</tr>
						<tr>
							<td>Saturday</td>
							<td>12:00-20:00</td>
              <td>Andrei@@gmail.com</td>
						</tr>
						<tr>
							<td>Sunday</td>
							<td>12:00-20:00</td>
						  <td></td>
						</tr>
					</table>
		    </div>
		</div>
		
</div>
</div>


<div class="col-sm-8">
		<div class="midcol">
							@content
						</div>
					</div>
			
			
					<div class="col-sm-12" style="background-color:#333">
						<p style="color:#ddd" align="center">Copyright &copy; 2019 C.C.A SportsWare. All rights reserved to Colm,Conor & Andrei.</p>
					</div>
					</div>
	    </div>
	</div>
	<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
</div>
</body>
</html>


